.project {
  overflow: hidden;
  width: 100vw;
  font-family: 'Raleway';
  height: 100vh;
  width: 100vw;
  position: relative;
  &__svg {
    position: sticky;
    width: 300px;
    height: 280px;
    left: calc( 50% - 150px);
    top: calc( 50% - 150px);
    &--properage {
      top: calc( 50% - 120px);
      height: 290px;
    }
  }
  &__text {
    position: sticky;
    font-weight: bold;
    font-size: 50px;
    top: 45%;
    h2{
      position: absolute;
      right: calc(20% - 100px);
    }
  }
}

.project__pres {
    position: sticky;
    top: 35%;
    font-weight: 600;
    width: 200px;
    justify-content: space-between;
    margin-left: 10%;
    &--text {
    position: absolute;
    span {
      font-weight: 300;
    }
  }
}

.hydropres {
  top: 45%;
}