.project {
  font-family: 'Raleway';
  height: 200vh;
  width: 100vw;
  position: relative;
  &__svg {
    position: sticky;
    width: 300px;
    left: calc( 50% - 150px);
    top: calc( 50% - 150px);
  }
  &__text {
    position: sticky;
    font-weight: bold;
    font-size: 50px;
    top: 40%;
    h2{
      position: absolute;
      right: calc(20% - 100px);
    }
  }
}

  .project__pres {
    position: sticky;
    top: 40%;
    font-weight: 600;
    width: 200px;
    justify-content: space-between;
    margin-left: 10%;
    &--text {
    position: absolute;
    span {
      font-weight: 300;
    }
  }
}