@mixin medium {
  @media (min-width: 768px) {
    @content;
  }
};

@mixin large {
  @media (min-width: 1280px) {
    @content;
  }
};

@keyframes translate {
  from {
    transform: translateX(300px);
  } 
  to {
    transform: translateX(0px);    
  }
}

// Changes on click

.notclicked {
  transition: all 0.6s;
  margin-left: 15%;
  @include medium{
    margin-left: 25%;
  }
}

.clicked {
  transition: all 0.6s;
  margin-left: 5px;

};

// .existing {
//   display: block;
// }

.all {
  
  overflow: hidden;
  width: 100vw;
  height: 200vh;
  // cursor: url(../assets/img/cursorharrow.png) 0 0, auto;

};

#myVideo {
  z-index: -20;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  opacity: 0.6;
}

.home{
  width: 100vw;
  padding-top: 30px;
  position: relative;
  height: 100%;

};


.projects-section {
  width: 100vw;
};

.projects {
  position: absolute;
  width: 70%;
  height: 100vh;
  top: 100px;
  &__container{
    position: relative;
  }
  &__list{
    width: 330px;
    padding-top: 20px;
    font-family: 'Raleway-Bold';
    font-size: 41px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px rgb(0, 0, 0);
    text-transform: uppercase;
    li {
      transition: all 0.6s;
      margin-bottom: 100px;
    }
  }
};



.lines-numbers {
  display: flex;
  width: 10vw;
  z-index: -10;
};

.projects__numbers {
  font-family: 'Raleway-Medium';
  font-size: 14px;
  color: black;
  border: none;
  text-shadow: none;
  margin-bottom: 40px;
  margin-left: 10px;
};

// .projects__lines {
//   margin-top: 5px;
//   margin-left: 10px;
//   background-color: rgba(0, 0, 0, 0.226);
//   width: 65%;
//   height: 1px;
//   margin-bottom: 80px;
  
// };


.projects__list {
  // opacity: 0.3;
  li:hover {
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-size: 45px;
    padding-left: 10px;
    // cursor: url(../assets/img/cursorharrow.png) 0 0, auto;
  }
};


.projects__background {
  display: block;
  width: 100%;
  height: 70vh;
  left: 0;
  top: 18%;
  z-index: -2;
  opacity: 0.7;
  overflow: hidden;
  position: fixed;
  @include medium {
    width: 55%;
    height: 70vh;
    left: 18%;
    top: 18%;
    z-index: -2;
    opacity: 0.7;
    overflow: hidden;
    position: fixed;
  }
  @include large {
    width: 45%;
    height: 70vh;
    left: calc( 55% - 300px);
    top: 18%;
    z-index: -2;
    opacity: 0.7;
    overflow: hidden;
    position: fixed;
  }
};

.project__img {
  animation: translate 0.4s;
  width: 100%;
};

.unvisible {
  transition: all 2.5s ease;
  display: none;
  
};

.side__project {
  display: none;
  @include medium {
    display: block;
    position:absolute;
    right: 20px;
    bottom: -2000px;
  }
};


//////////////////////////



.pres__container {
  display: none;
  overflow: hidden;
  position: sticky;
  width: 100%;
  height: 100vh;
  display: flex;
  right: 10px;
  // background-color: rgba(237, 254, 54, 0.297);
  background-color: rgb(255, 255, 255);
  z-index: -100;

}

.pres__text {
  width: 280px;
  height: 100%;
  font-family: 'Raleway-Medium';
  font-size: 18px;
  color: rgb(0, 0, 0);
  justify-content: left;
  margin-left: calc( 65% - 150px);
  margin-top: 120px;
  h4 {
    margin-top: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
}

.mockup {
  position: absolute;
  justify-content: center;
  border: solid 1px rgb(0, 0, 0);
  top: 80px;
  right: 30px;
  width: 70vw;
  height: 550px;
  overflow-y:scroll; 
  overflow-x:hidden;
  // z-index: -5;
  img {
    width: 100%;
  }
}

.logo-container {
  margin-bottom: 30px;
  img {
    width: 150px;
  }
}

.arrowContainer {
  position: absolute;
  display: none;
  z-index: 200;
  height: 160px;
  width: 300px;
  top: 37%;
  left: 10%;
  p{
    font-family: 'Raleway-bold';
    font-size: 22px;
    padding-top: 3px;
    padding-left: 10px;
  }
}

.arrowLeft {
  width: 30px;

};
