.all {
  opacity: 0;
  cursor: url(../assets/img/zizicursor2.png) 0 0, auto;

};

.home{
  width: 100vw;
};


.projects-section {
  background-color: white;
  width: 100vw;
};

.projects {
  width: 70%;
  height: 100%;
  &__list{
    height: 100vh;
    width: 330px;
    padding-top: 120px;
    font-family: 'Raleway-Bold';
    font-size: 41px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1px rgb(0, 0, 0);
    text-transform: uppercase;
    margin-left: calc(60% - 165px);
    @media (min-width: 830px) {
      ul {
        margin-left: calc(40% - 165px);
      }
      @media (min-width: 950px) {
        ul {
          margin-left: calc(25% - 165px);
        }
      }
      @media (min-width: 1250px) {
        ul {
          margin-left: calc(15% - 165px);
        }
      }
    }
    li {
      margin-bottom: 100px;
    }
  }
};


.projects__list {
  li:hover {
    color: rgb(0, 0, 0);
    text-shadow: none;
    font-size: 45px;
    padding-left: 10px;
    cursor: url(../assets/img/zizicursor2.png) 0 0, auto;
  }
};

.projects__background {
  width: 100vw;
top: 60px;
};

.projects__background {
  width: 50%;
  height: 60vh;
  left: 45%;
  top: 20%;
  z-index: -2;
  position: sticky;
  opacity: 0.3;
  overflow: hidden;
  img {
   
  }
};

.project__img {
   width: 100%;
};


.unvisible {
  display: none;
}