@mixin medium {
  @media (min-width: 768px) {
    @content;
  }
};

@mixin large {
  @media (min-width: 1280px) {
    @content;
  }
};

.cls-1 {
  fill: rgb(0, 0, 0);
  stroke: rgb(255, 255, 255);
  stroke-miterlimit: 10;
  stroke-width: 1px;
}

.cls-1:hover {
  stroke-dasharray: 2550;
  stroke-dashoffset: 2550;
  animation: draw 4.5s linear forwards;
 
}

.cls-2 {
  stroke-dasharray: 2250;
  stroke-dashoffset: 2250;
  animation: draw 4.5s linear forwards;
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
};


////////
.all{
  font-family: 'Raleway';
  overflow-x: hidden;
}


header {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.portfolio {
  z-index: 3;
  position: fixed;
  right: 25px;
  top: 40px;
  width: 50px;
  @include large {
    width: 70px;
    top: 60px;
    right: 45px;
  }
 span {
  display: block;
  font-size: 25px;
  font-weight: 600; 
   @include large {
    font-size: 35px;
    font-weight: 600; 
   }
   &.year {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    transform: rotate(90deg);
    left: 10px;
     @include large {
      font-size: 70px;
      font-weight: 700;
      left: 20px;
     }
   }
 }
};

.bio {
  width: 60%;
  max-width: 250px;
  margin: 0 auto;
  vertical-align: middle;
  justify-content: center;
  margin-top: 160px;
  &__img{
    display: block;
    width: 100px;
    margin:auto;
    margin-bottom: 45px;
  }
  &__text {
    h1 {
      font-size: 22px;
      font-weight: 700;
      text-transform: uppercase;
      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
    &--presentation {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 300;
    }
  }
}


  .links {
    display: none;
    @include medium {
      display: block;
      z-index: 100;
      position: fixed;
      width: 110px;
      height: 60px;
      right: 30px;
      bottom: 20px;
      justify-content: space-around;
     
   .github {
        position: absolute;
        height: 20px;
    }
    .linkedin {
      position: absolute;
    }
  }
  }
