.projects {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.project {
  position: relative;
  height: 100vh;
  width: 230px;
  margin: 0 auto;
  @include large {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    @include large {
      order: 2;
      width: 30%;
    }
    svg {
      height: 200px;
      width: 200px;
      @include large {
        height: 300px;
        width: 300px;
      }
    }
  }
  &__text {
    margin-top: 10px;
    text-align: left;
    @include large {
      text-align: left;
      width: 300px;
    }
    h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    p{
      font-size: 18px;
      font-weight: 300;
    }
    &--technos {
      display: flex;
      font-size: 14px;
      font-weight: 800;
      margin-top: 15px;
      .techno {
        margin-right: 10px;
        background-color: black;
        padding: 3px 5px;
        border-radius: 1px;
        p{
          font-size: 12px;
          font-weight: 600;
          letter-spacing: 0.05em;
          color: white;
        } 
      }
    
  }
}
  &__title {
    display: none;
    @include large {
     display: block;
     order: 3;
     width: 30%;
     text-align: right;
     font-size: 45px;
     font-weight: 700;
    }
  }
}

.more__container {
  position: absolute;
  right: calc(50% - 70px);
  width: 140px;
  height: 40px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 45px;
  text-align: center;
  bottom: 160px;
  @include large {
    bottom: 80px;
  }
  p {
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
  }
}

.more__container:hover {
  text-decoration-line: underline;
}